<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DIsfruta el kart!</title>
  <script>
    const placa = '<%= placa %>';
  </script>
</head>
<body>
  <h1>TIempo transcurrido</h1>
</body>
</html>
