<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Disfruta el kart!</title>
  <script src='/javascript/cliente.js'></script>
</head>
<body>
  <h1>Tiempo transcurrido</h1>
  <p>El tiempo que resta es: </p>
  <div id="contador_tiempo"></div>

</body>
</html>
