<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Esperando respuesta del administrador</title>
  <script>
    const placa = '<%= placa %>';
    console.log("Placa recibida", placa);
  </script>
  <script src="/javascript/cliente-ws.js"></script>
  <script src="/javascript/waiting.js"></script>
</head>
<body>
  <h1>Esperando respuesta del administrador</h1>
</body>
</html>
